@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap');

:root {
  --cor-principal: #6E859F;
  --cor-secundaria: #284260;
  --cor-destaque: #C928FC;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

h1, h2, h5 {
  color: var(--cor-secundaria);
  font-weight: 700;
}

.lead, .btn-outline-primary {
  color: var(--cor-destaque);
  font-weight: 500;
}

a:hover {
  color: var(--cor-destaque);
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.badge {
  font-size: 0.9rem;
  padding: 0.5em 1em;
}

.btn-outline-primary {
  border-radius: 50px;
  padding: 0.4em 1em;
}

footer a:hover {
  color: var(--cor-destaque);
  text-decoration: underline;
}
